@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Ubuntu:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Ubuntu", sans-serif;
}

header {
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #ecf2ff;
}

header > img {
  height: 83px;
  width: 83px;
}

.library-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}

.sidebar {
  background-color: #e5d1fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.sidebar > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.sidebar > div > h1 {
  font-size: 2rem;
}

.sidebar > div > button {
  padding: 0.5rem;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: #fff4d2;
}

.sidebar #form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.sidebar #form > h1 {
  text-align: center;
}

.sidebar #form > .main__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.sidebar #form > .main__inputs > label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar #form > .main__inputs > label > input {
  background-color: #fff4d2;
  border-style: solid;
  border-color: #181823;
  outline: none;
  padding: 0.5rem;
}

.sidebar #form > .actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.sidebar #form > .actions > label > input,
.book > div:nth-of-type(2) > input {
  appearance: none;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  height: 20px;
  width: 50px;
  outline: none;
  position: relative;
  background-color: red;
  transition: all 0.5s ease-out;
}

.sidebar #form > .actions > label > input::before,
.book > div:nth-of-type(2) > input::before {
  content: "";
  height: 5px;
  width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 100%;
  position: absolute;
  background-color: grey;
  top: 2px;
  left: 3px;
  transition: all 0.5s ease-out;
}

.sidebar #form > .actions > label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar #form > .actions > label > input:checked,
.book > div:nth-of-type(2) > input:checked {
  background-color: green;
}

.sidebar #form > .actions > label > input:checked::before,
.book > div:nth-of-type(2) > input:checked::before {
  left: 30px;
}

.sidebar #form > .actions > button,
.back__btn,
.book > div:nth-of-type(2) > button {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #fff4d2;
}

.sidebar #form > .actions > button:hover,
.sidebar > div > button:hover,
.back__btn:hover,
.book > div:nth-of-type(2) > button:hover {
  background-color: #181823;
  color: #fff4d2;
}

.back__btn {
  margin-top: 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 250px;
  gap: 1rem;
  padding: 2rem;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  background-color: #181823;
  color: #ecf2ff;
  font-size: 1.2rem;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.book > img {
  height: 30px;
  width: 30px;
}

.book > div:nth-of-type(1),
.book > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

footer {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  background-color: #ecf2ff;
}

button {
  font-family: inherit;
}

/*# sourceMappingURL=styles.css.map */
